<tui-root class="root">
  <!-- content of your app -->
  <ui-header class="tui-space_bottom-5">
    <div class="tui-container">
      <h1 class="tui-text_h1 tui-space_top-0 tui-space_bottom-0">header</h1>
    </div>
  </ui-header>

  <div class="tui-container main">
    <h1 class="tui-text_h1 tui-space_top-0">AAA NX Monorepo example</h1>

    <div class="tui-row">

      <ng-container *ngFor="let user of users$ | async">
        <div *ngIf="user" class="tui-col_4 tui-space_bottom-5">
          <ui-user [user]="user"></ui-user>
        </div>
      </ng-container>

    </div>

  </div>

  <ui-footer class="tui-space_top-5">
    <div class="tui-container">
      <h1 class="tui-text_h1 tui-space_top-0 tui-space_bottom-0">footer</h1>
    </div>
  </ui-footer>
  <!--
   If you need, you can add something between Taiga portal layers:
  -->
  <ng-container ngProjectAs="tuiOverContent">
    <!-- Content over app content -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverAlerts">
    <!-- Content over notifications -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>
